<a href="https://colab.research.google.com/github/farihahahmed/XAI-for-battery-lifetime-prediction/blob/main/NWB_Creating_input_and_output_dfs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Shaping df1

In [ ]:
#Mounting Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd
df1 = pd.read_csv('/content/drive/MyDrive/HSA/Dataset1.csv')

In [ ]:
df1.head()

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
0,01 01 2018 00:00,380.047791,5.311336,416.328908,259.994904
1,01 01 2018 00:10,453.769196,5.672167,519.917511,268.641113
2,01 01 2018 00:20,306.376587,5.216037,390.900016,272.564789
3,01 01 2018 00:30,419.645905,5.659674,516.127569,271.258087
4,01 01 2018 00:40,380.650696,5.577941,491.702972,265.674286

In [ ]:
df1.tail()

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
50525,31 12 2018 23:10,2963.980957,11.404030,3397.190793,80.502724
50526,31 12 2018 23:20,1684.353027,7.332648,1173.055771,84.062599
50527,31 12 2018 23:30,2201.106934,8.435358,1788.284755,84.742500
50528,31 12 2018 23:40,2515.694092,9.421366,2418.382503,84.297913
50529,31 12 2018 23:50,2820.466064,9.979332,2779.184096,82.274620

Getting some statistical details first

In [ ]:
df1 = pd.DataFrame(df1)

In [ ]:
del df1['Theoretical_Power_Curve (KWh)']

In [ ]:
df1

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Wind Direction (°)
0,01 01 2018 00:00,380.047791,5.311336,259.994904
1,01 01 2018 00:10,453.769196,5.672167,268.641113
2,01 01 2018 00:20,306.376587,5.216037,272.564789
3,01 01 2018 00:30,419.645905,5.659674,271.258087
4,01 01 2018 00:40,380.650696,5.577941,265.674286
...,...,...,...,...
50525,31 12 2018 23:10,2963.980957,11.404030,80.502724
50526,31 12 2018 23:20,1684.353027,7.332648,84.062599
50527,31 12 2018 23:30,2201.106934,8.435358,84.742500
50528,31 12 2018 23:40,2515.694092,9.421366,84.297913
50529,31 12 2018 23:50,2820.466064,9.979332,82.274620

In [ ]:
from sigfig import round

In [ ]:
import pandas as pd
import scipy.stats as stats

# Select the three columns from df1
selected_columns = ['LV ActivePower (kW)', 'Wind Speed (m/s)', 'Wind Direction (°)']
df_selected = df1[selected_columns]

# Calculate the statistics using pandas functions
statistics = {
    'Mean': df_selected.mean(),
    'Median': df_selected.median(),
    'Mode': df_selected.mode().iloc[0],
    'Kurtosis': df_selected.kurtosis(),
    'Standard Deviation': df_selected.std(),
    'Maximum': df_selected.max(),
    'Minimum': df_selected.min(),
    'Range': df_selected.max() - df_selected.min()
}

# Create the statistics dataframe
statistics_df = pd.DataFrame(statistics)

# Display the statistics dataframe
print(statistics_df)

                            Mean      Median  Mode  Kurtosis  \
LV ActivePower (kW)  1307.684332  825.838074   0.0 -1.164054
Wind Speed (m/s)        7.557952    7.104594   0.0  0.058942
Wind Direction (°)    123.687559   73.712978   0.0 -0.747991

                     Standard Deviation      Maximum   Minimum        Range
LV ActivePower (kW)         1312.459242  3618.732910 -2.471405  3621.204315
Wind Speed (m/s)               4.227166    25.206011  0.000000    25.206011
Wind Direction (°)            93.443736   359.997589  0.000000   359.997589

In [ ]:
statistics_df

,Mean,Median,Mode,Kurtosis,Standard Deviation,Maximum,Minimum,Range
LV ActivePower (kW),1307.684332,825.838074,0.0,-1.164054,1312.459242,3618.732910,-2.471405,3621.204315
Wind Speed (m/s),7.557952,7.104594,0.0,0.058942,4.227166,25.206011,0.000000,25.206011
Wind Direction (°),123.687559,73.712978,0.0,-0.747991,93.443736,359.997589,0.000000,359.997589

back to regular stuff

In [ ]:
del df1['Wind Speed (m/s)']

In [ ]:
del df1['Wind Direction (°)']

In [ ]:
df1

              Date/Time  LV ActivePower (kW)
0      01 01 2018 00:00           380.047791
1      01 01 2018 00:10           453.769196
2      01 01 2018 00:20           306.376587
3      01 01 2018 00:30           419.645905
4      01 01 2018 00:40           380.650696
...                 ...                  ...
50525  31 12 2018 23:10          2963.980957
50526  31 12 2018 23:20          1684.353027
50527  31 12 2018 23:30          2201.106934
50528  31 12 2018 23:40          2515.694092
50529  31 12 2018 23:50          2820.466064

[50530 rows x 2 columns]

#Making df3 = output, df2 = input

In [ ]:
df3 = df1

In [ ]:
df2 = df1

#Shaping df3 = output

In [ ]:
hello = df3.loc[df3['Date/Time'] == '01 01 2018 00:00']

In [ ]:
hello

          Date/Time  LV ActivePower (kW)
0  01 01 2018 00:00           380.047791

In [ ]:
df3 = df3.drop(hello.index, axis=0)

In [ ]:
df3 = df3.reset_index()

In [ ]:
df3

       index         Date/Time  LV ActivePower (kW)
0          1  01 01 2018 00:10           453.769196
1          2  01 01 2018 00:20           306.376587
2          3  01 01 2018 00:30           419.645905
3          4  01 01 2018 00:40           380.650696
4          5  01 01 2018 00:50           402.391998
...      ...               ...                  ...
50524  50525  31 12 2018 23:10          2963.980957
50525  50526  31 12 2018 23:20          1684.353027
50526  50527  31 12 2018 23:30          2201.106934
50527  50528  31 12 2018 23:40          2515.694092
50528  50529  31 12 2018 23:50          2820.466064

[50529 rows x 3 columns]

In [ ]:
df3 = df3.drop(['index'], axis=1)

In [ ]:
df3

              Date/Time  LV ActivePower (kW)
0      01 01 2018 00:10           453.769196
1      01 01 2018 00:20           306.376587
2      01 01 2018 00:30           419.645905
3      01 01 2018 00:40           380.650696
4      01 01 2018 00:50           402.391998
...                 ...                  ...
50524  31 12 2018 23:10          2963.980957
50525  31 12 2018 23:20          1684.353027
50526  31 12 2018 23:30          2201.106934
50527  31 12 2018 23:40          2515.694092
50528  31 12 2018 23:50          2820.466064

[50529 rows x 2 columns]

#Shaping df2 = input

In [ ]:
df2

              Date/Time  LV ActivePower (kW)
0      01 01 2018 00:00           380.047791
1      01 01 2018 00:10           453.769196
2      01 01 2018 00:20           306.376587
3      01 01 2018 00:30           419.645905
4      01 01 2018 00:40           380.650696
...                 ...                  ...
50525  31 12 2018 23:10          2963.980957
50526  31 12 2018 23:20          1684.353027
50527  31 12 2018 23:30          2201.106934
50528  31 12 2018 23:40          2515.694092
50529  31 12 2018 23:50          2820.466064

[50530 rows x 2 columns]

In [ ]:
hi = df2.loc[df2['Date/Time'] == '31 12 2018 23:50']

In [ ]:
hi

              Date/Time  LV ActivePower (kW)
50529  31 12 2018 23:50          2820.466064

In [ ]:
df2 = df2.drop(hi.index, axis=0)

In [ ]:
df2.tail()

              Date/Time  LV ActivePower (kW)
50524  31 12 2018 23:00          3514.269043
50525  31 12 2018 23:10          2963.980957
50526  31 12 2018 23:20          1684.353027
50527  31 12 2018 23:30          2201.106934
50528  31 12 2018 23:40          2515.694092

#Seeing shape of df2 and df3

In [ ]:
df3.shape

(50529, 2)

In [ ]:
df2.shape

(50529, 2)

#So, df3 = input, df2 = output

In [ ]:
from google.colab import files
df3.to_csv('Dataset3.csv')
files.download('Dataset3.csv')

In [ ]:
from google.colab import files
df2.to_csv('Dataset2.csv')
files.download('Dataset2.csv')

In [ ]:
df3

              Date/Time  LV ActivePower (kW)
0      01 01 2018 00:10           453.769196
1      01 01 2018 00:20           306.376587
2      01 01 2018 00:30           419.645905
3      01 01 2018 00:40           380.650696
4      01 01 2018 00:50           402.391998
...                 ...                  ...
50524  31 12 2018 23:10          2963.980957
50525  31 12 2018 23:20          1684.353027
50526  31 12 2018 23:30          2201.106934
50527  31 12 2018 23:40          2515.694092
50528  31 12 2018 23:50          2820.466064

[50529 rows x 2 columns]

In [ ]:
df2

              Date/Time  LV ActivePower (kW)
0      01 01 2018 00:00           380.047791
1      01 01 2018 00:10           453.769196
2      01 01 2018 00:20           306.376587
3      01 01 2018 00:30           419.645905
4      01 01 2018 00:40           380.650696
...                 ...                  ...
50524  31 12 2018 23:00          3514.269043
50525  31 12 2018 23:10          2963.980957
50526  31 12 2018 23:20          1684.353027
50527  31 12 2018 23:30          2201.106934
50528  31 12 2018 23:40          2515.694092

[50529 rows x 2 columns]